manifest {
    name = 'watkins/pbgatk-nextflow'
    version = '0.1.0'
    description = 'Watkins Parabricks + bcftools workflow in Nextflow DSL2'
}

params {

    samplesheet = null
    ref = null
    outdir = 'results'
    contig_subset = ''
    merge_chunk_size = 250
    run_flagstat = false

    // =========================================================
    // ONLINE CONTAINERS (REGISTRY URIS)
    // =========================================================

    local_container_dir = "${projectDir}/containers"

    container_parabricks = 'docker://nvcr.io/nvidia/clara/clara-parabricks:4.3.2-1'
    container_bcftools   = 'docker://quay.io/biocontainers/bcftools:1.21--h8b25389_0'
    container_samtools   = 'docker://quay.io/biocontainers/samtools:1.18--h50ea8bc_1'

    call_htvc_threads = 32
    call_default_gpus = 1

    slurm_cpu_queue = 'jic-compute,nbi-compute'
    slurm_gpu_queue = 'jic-gpu'
    slurm_gpu_type = 'a100'
    slurm_gpu_request = 1
    slurm_gpu_localscratch_gb = 1000
    slurm_merge_localscratch_gb = 1500

    cpu_small_cpus = 4
    cpu_small_memory = '16 GB'
    cpu_small_time = '2h'

    cpu_medium_cpus = 16
    cpu_medium_memory = '64 GB'
    cpu_medium_time = '8h'

    cpu_merge_cpus = 32
    cpu_merge_memory = '500 GB'
    cpu_merge_time = '24h'

    gpu_call_cpus = 32
    gpu_call_memory = '950 GB'
    gpu_call_time = '36h'
}

process {

    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'

    // -------------------------
    // containers per process
    // -------------------------

    withName: PBGATK_GERMLINE {
        label = 'gpu_call'
        container = params.container_parabricks
    }

    withName: COMPRESS_AND_INDEX_VCF {
        label = 'cpu_medium'
        container = params.container_bcftools
    }

    withName: GET_CONTIGS {
        label = 'cpu_small'
        container = params.container_bcftools
    }

    withName: EXTRACT_CONTIG_SAMPLE {
        label = 'cpu_medium'
        container = params.container_bcftools
    }

    withName: MERGE_CONTIG_CHUNK {
        label = 'cpu_merge'
        container = params.container_bcftools
    }

    withName: MERGE_CONTIG_FINAL {
        label = 'cpu_merge'
        container = params.container_bcftools
    }

    withName: FLAGSTAT_CRAM {
        label = 'cpu_small'
        container = params.container_samtools
    }

    withName: PRECHECK_GPU_PROFILE_COUNTS {
        label = 'cpu_small'
        container = params.container_bcftools
    }

    // -------------------------
    // resource labels
    // -------------------------

    withLabel: cpu_small {
        cpus = params.cpu_small_cpus
        memory = params.cpu_small_memory
        time = params.cpu_small_time
    }

    withLabel: cpu_medium {
        cpus = params.cpu_medium_cpus
        memory = params.cpu_medium_memory
        time = params.cpu_medium_time
    }

    withLabel: cpu_merge {
        cpus = params.cpu_merge_cpus
        memory = params.cpu_merge_memory
        time = params.cpu_merge_time
    }

    withLabel: gpu_call {
        cpus = params.gpu_call_cpus
        memory = params.gpu_call_memory
        time = params.gpu_call_time
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/dag.html"
}

profiles {

    // -------------------------
    // LOCAL / DEV
    // -------------------------
    standard {
        process.executor = 'local'
    }

    // -------------------------
    // SLURM CLUSTER
    // -------------------------
    slurm {
        process {
            executor = 'slurm'
            queue = params.slurm_cpu_queue
        }
    }

    // -------------------------
    // BASE SINGULARITY
    // -------------------------
    singularity {

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "${projectDir}/.singularity"
        }

        docker {
            enabled = false
        }
    }

    // -------------------------
    // EXPLICIT ONLINE SINGULARITY
    // -------------------------
    singularity_online {

        singularity {
            enabled = true
            runOptions = '--nv'
            autoMounts = true
            cacheDir = "${projectDir}/.singularity"
        }

        docker {
            enabled = false
        }

        params {
            container_parabricks = 'docker://nvcr.io/nvidia/clara/clara-parabricks:4.3.2-1'
            container_bcftools   = 'docker://quay.io/biocontainers/bcftools:1.21--h8b25389_0'
            container_samtools   = 'docker://quay.io/biocontainers/samtools:1.18--h50ea8bc_1'
        }
    }

    // -------------------------
    // OFFLINE SINGULARITY (OPTIONAL)
    // -------------------------
    singularity_offline {

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "${projectDir}/.singularity"
            runOptions = '--nv'
            pullMode = 'never'
        }

        docker {
            enabled = false
        }

        params {
            container_parabricks = "${params.local_container_dir}/parabricks-4.3.2-1.sif"
            container_bcftools   = "${params.local_container_dir}/bcftools-1.21.sif"
            container_samtools   = "${params.local_container_dir}/samtools-1.18.sif"
        }
    }

    // -------------------------
    // APPTAINER ALIAS
    // -------------------------
    apptainer {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--nv'
            cacheDir = "${projectDir}/.singularity"
        }

        docker {
            enabled = false
        }
    }

    // -------------------------
    // DOCKER (ONLY IF EXPLICITLY USED)
    // -------------------------
    docker {
        docker {
            enabled = true
        }
        singularity {
            enabled = false
        }
    }
}