manifest {
    name = 'watkins/pbgatk-nextflow'
    version = '0.1.0'
    description = 'Watkins Parabricks + bcftools workflow in Nextflow DSL2'
}

params {

    samplesheet = null
    ref = null
    outdir = 'results'

    local_container_dir = "${projectDir}/containers"
    singularity_cache_dir = "${projectDir}/.singularity"

    // SLURM
    slurm_cpu_queue = 'jic-compute,nbi-compute'
    slurm_gpu_queue = 'jic-gpu'
    slurm_gpu_type = 'a100'
    slurm_gpu_request = 1

    // resources
    cpu_small_cpus = 4
    cpu_small_memory = '16 GB'
    cpu_small_time = '2h'

    cpu_medium_cpus = 16
    cpu_medium_memory = '64 GB'
    cpu_medium_time = '8h'

    cpu_merge_cpus = 32
    cpu_merge_memory = '500 GB'
    cpu_merge_time = '24h'

    gpu_call_cpus = 32
    gpu_call_memory = '950 GB'
    gpu_call_time = '36h'
}

process {

    shell = ['/bin/bash', '-euo', 'pipefail']
    errorStrategy = 'terminate'

    // ======================
    // CONTAINERS (OFFLINE)
    // ======================

    withName: PBGATK_GERMLINE {
        label = 'gpu_call'
        container = "${params.local_container_dir}/parabricks-4.3.2-1.sif"
    }

    withName: COMPRESS_AND_INDEX_VCF {
        container = "${params.local_container_dir}/bcftools-1.21.sif"
    }

    withName: GET_CONTIGS {
        container = "${params.local_container_dir}/bcftools-1.21.sif"
    }

    withName: EXTRACT_CONTIG_SAMPLE {
        container = "${params.local_container_dir}/bcftools-1.21.sif"
    }

    withName: MERGE_CONTIG_CHUNK {
        container = "${params.local_container_dir}/bcftools-1.21.sif"
    }

    withName: MERGE_CONTIG_FINAL {
        container = "${params.local_container_dir}/bcftools-1.21.sif"
    }

    withName: FLAGSTAT_CRAM {
        container = "${params.local_container_dir}/samtools-1.18.sif"
    }

    withName: PRECHECK_GPU_PROFILE_COUNTS {
        container = "${params.local_container_dir}/bcftools-1.21.sif"
    }

    // ======================
    // RESOURCES
    // ======================

    withLabel: cpu_small {
        cpus = params.cpu_small_cpus
        memory = params.cpu_small_memory
        time = params.cpu_small_time
    }

    withLabel: cpu_medium {
        cpus = params.cpu_medium_cpus
        memory = params.cpu_medium_memory
        time = params.cpu_medium_time
    }

    withLabel: cpu_merge {
        cpus = params.cpu_merge_cpus
        memory = params.cpu_merge_memory
        time = params.cpu_merge_time
    }

    withLabel: gpu_call {

        cpus = params.gpu_call_cpus
        memory = params.gpu_call_memory
        time = params.gpu_call_time

        queue = params.slurm_gpu_queue
        clusterOptions = "--gres=gpu:${params.slurm_gpu_type}:${params.slurm_gpu_request}"
    }
}

profiles {

    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.queue = params.slurm_cpu_queue
    }

    singularity_offline {

        process.executor = 'slurm'

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cache_dir
            runOptions = '--nv'
        }

        docker.enabled = false
    }
}